:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warn-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --background: #FAF8F7;
    --just-white: #FFF;
    --darkgrey:#666666;
}


* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color:var(--background);
}

main {
    width: 100%;
    height: auto;
}


#title {
    font-size: 2.9rem;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 150px;
    text-align: center;
    background-color: var(--secondary-blue);
}

/* AQUI COMIENZA */

#main-listas-container {
    position: relative;
    width: 90%;
    min-width: 288px;
    max-width: 700px;
    height: 700px;
    margin: 5px auto;
    padding: 10px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

#listas--title {
    margin-top: 25px;
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    text-align: center;
    margin-bottom: 25px;
}

#listas--parrafo1 {
    margin-top: 25px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    padding: 5px;
    text-align: justify;
}

#listas--parrafo2 {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    padding: 5px;
    text-align: justify;
}

#listas--parrafo3 {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: black;
    padding: 5px;
    text-align: justify;
}

#preguntaLista {
    position: absolute;
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:black;
    text-align: center;
    margin-bottom: 10px;
    top: 10px;
    left: calc(50% - 145px);
}

#inputLista {
    position: absolute;
    margin-top: 25px;
    width: 100px;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    top: 35px;
    left: calc(50% - 50px);
}


#agregar {
    position: absolute;
    width: 100px;
    background-color: var(--darkgrey);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    top: 100px;
    left: 100px;
}

#borrar {
    position: absolute;
    width: 100px;
    background-color: var(--darkgrey);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    top: 100px;
    left: 300px;
}

#ordenar {
    position: absolute;
    width: 100px;
    background-color: var(--darkgrey);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 4px 2px;
    top: 100px;
    left: 500px;
}


/* BOTONES ESTADISTICA */

#promedio {
    position: absolute;
    width: 120px;
    background-color: var(--black);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 4px 2px;
    top: 380px;
    left: 85px;
}

#mediana {
    position: absolute;
    width: 120px;
    background-color: var(--black);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 4px 2px;
    top: 380px;
    left: 290px;
}

#moda {
    position: absolute;
    width: 120px;
    background-color: var(--black);
    border-radius: 8px;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin: 4px 2px;
    top: 380px;
    left: 495px;
}

/* RESULTADOS */

#botones {
    position: absolute;
    width: 90%;
    width: 680px;
    max-width: 700px;
    height: 360px;
    margin: 5px auto;
    padding: 10px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

/* CUADRO DE RESULTADOS */

#resultados {
    position: absolute;
    width: 100%;
    max-width: 640px;
    height: 150px;
    margin: 10px 10px;
    padding: 10px;
    background-color:white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    top: 175px;
    border-style: solid;
    border-width: 2px;
}

#original {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:black;
    text-align:left;
    margin-bottom: 10px;
    top: 415px;
    left: 50px;
    max-width: 700px;
}

#ordenada {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:black;
    text-align:left;
    margin-bottom: 10px;
    top: 425px;
    left: 50px;
    max-width: 700px;
}

#mensaje {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.8rem;
    color:black;
    text-align:left;
    margin-bottom: 10px;
    top: 425px;
    left: 50px;
    max-width: 700px;
}

